-
  var cats = [
    'All', 'Design' , 'Code' , 'Video' , 'Music', 'Writing', 'Crypto', 'Finance',
    'Gaming', 'Chatbots', 'Speech', 'Translation', 'Productivity', 'HR', 'Healthcare',
    'Security', 'Robotics', 'Energy', 'Education', 'Marketing', 'Travel', 'Retail' 
  ]




header.header(x-data="{showSearch : false}")
  .header__search(x-show="showSearch" x-on:click.outside="showSearch = false" x-on:keyup.escape="showSearch = false")
    svg(width='44' height='44')
      use(href='sprite.svg#search_sprite')
    form(action="") 
      input(type="text" placeholder="Search")
    button.header__search-cancel( x-on:click="showSearch = false")
      svg(width='40' height='40')
        use(href='sprite.svg#close-g_sprite')
  .header__inner
    .header__left
      .header__logo.logo 
        a.logo__link(href="")
          picture
            source(media="(max-width:768px)", srcset=require('@/images/logo-small.svg'))
            img.logo__src.logo__src--dark(src=require('@/images/logo-dark.svg'), alt="")
            img.logo__src.logo__src--light(src=require('@/images/logo.svg'), alt="")
      button.header__search-btn.search-btn(type="button" aria-label="open search" x-on:click="showSearch = true")
        svg(width='44' height='44')
          use(href='sprite.svg#search_sprite')
    nav.header__nav.nav
      ul.nav__list 
        each val,index in menu
          li.nav__item(class=index == 0 ? 'nav__item--current' : '')
            a.nav__link(href=val.link)
              span.nav__link-text=val.name
              span.nav__hover-text(aria-hidden="true")=val.name
            if val.subMenu 
              .sub-menu 
                .sub-menu__heading 
                  h5.sub-menu__title AI Tools by Categories
                  a.sub-menu__link(href="") View all categories
                    svg(width='20' height='20')
                      use(href='sprite.svg#external_sprite')
                        .categories__list.hidden-mobile
                ul.sub-menu__list
                  each val, index in cats
                    li.sub-menu__item
                      a.categories__label(href="")
                        span.categories__item 
                          span.categories__icon 
                            img(src=require(`@/images/categories/${index + 1}.svg`), alt="")
                          span.categories__name= val
    .header__right
      .header__lang.custom-select-wrapper
        button.custom-select.custom-select--secondary.lang-select(type="button" x-data='{lang:false}' x-on:click="lang = !lang")
          span.custom-select__placeholder En
            svg.custom-select__arrow(width="8" height="8")
              use(xlink:href="sprite.svg#arrow-down_sprite")
          nav.lang-switcher(x-show="lang")
            ul.lang-switcher__inner 
              li.lang-switcher__item En 
              li.lang-switcher__item
                a.lang-switcher__link(href="/en" hreflang="en" lang="en") Ru
              li.lang-switcher__item
                a.lang-switcher__link(href="/en" hreflang="en" lang="en") De
      .header__button-group 
        button.header__btn.btn.btn--secondary.hidden-mobile(type="button" data-modal="submit-tool") Submit a tool
        .login-wrapper(x-data="{loginDropwdown: false}")
          button.button-group__btn.btn.btn--secondary.btn--sign-in(type="button" x-on:click="loginDropwdown = !loginDropwdown" x-on:click.outside="loginDropwdown = false")
            img(src=require('@/images/google.svg'), alt="")
            span Sign in
          .login-dropdown(x-show="loginDropwdown" x-transition) 
            ul.login-dropdown__list 
              li.login-dropdown__item
                a.login-dropdown__link(href="") Favourites
              li.login-dropdown__item
                a.login-dropdown__link(href="") Sign out
      button.theme-switcher.hidden-mobile(aria-label="Switch theme") 
        svg(width='44' height='44')
          use(href='sprite.svg#dark-theme_sprite')
      .mobile-nav-btn.hidden-desktop.js-open-mobile-menu
        svg(width='24' height='24')
          use(href='sprite.svg#mobile-nav_sprite')

#mobile-nav.mobile-nav
  .mobile-nav__header.header
    .header__left.container
      .header__logo.logo 
        a.logo__link(href="")
          picture 
            source(media="(max-width:768px)", srcset=require('@/images/logo-small.svg'))
            img.logo__src.logo__src--dark(src=require('@/images/logo-dark.svg'), alt="")
            img.logo__src.logo__src--light(src=require('@/images/logo.svg'), alt="")
      .header__lang.custom-select-wrapper
        button.custom-select.custom-select--secondary.lang-select(type="button" x-data='{lang:false}' x-on:click="lang = !lang")
          span.custom-select__placeholder En
            svg.custom-select__arrow(width="8" height="8")
              use(xlink:href="sprite.svg#arrow-down_sprite")
          nav.custom-select__content.custom-select__content--secondary(x-show="lang")
            ul.lang-switcher 
              li.lang-switcher__item En 
              li.lang-switcher__item
                a.lang-switcher__link(href="/en" hreflang="en" lang="en") Ru
              li.lang-switcher__item
                a.lang-switcher__link(href="/en" hreflang="en" lang="en") De
      button.mobile-nav-btn.hidden-desktop.js-close-nav(type="button")
        svg(width='24' height='24')
          use(href='sprite.svg#mobile-nav-close_sprite')
  .mobile-nav__main.container 
    nav.mobile-nav__nav 
      ul.mobile-nav__nav-list
        each val,index in menu
          li.mobile-nav__nav-item(class=index == 0 ? 'mobile-nav__nav-item--current' : '')
            if !val.subMenu
              a.mobile-nav__nav-link(href=val.link)=val.name
            if val.subMenu
              details.mobile-sub-menu 
                summary.mobile-sub-menu__summary All Categories
                  svg(width='8' height='8')
                    use(href='sprite.svg#arrow-down_sprite')
                .mobile-sub-menu__heading 
                  a.mobile-sub-menu__link.sub-menu__link(href="") View all categories
                    svg(width='20' height='20')
                      use(href='sprite.svg#external_sprite')
                        .categories__list.hidden-mobile
                ul.mobile-sub-menu__list
                  each val, index in cats
                    li.mobile-sub-menu__item
                      a.categories__label(href="")
                        span.categories__item 
                          span.categories__icon 
                            img(src=require(`@/images/categories/${index + 1}.svg`), alt="")
                          span.categories__name= val
    .mobile-nav__fixed
      .mobile-nav__footer
        button.theme-switcher.theme-switcher--mobile(aria-label="Switch theme") 
          svg(width='44' height='44')
            use(href='sprite.svg#dark-theme_sprite')
          span Light
        .mobile-nav__socials.socials-list
          each val in [1,2,3,4,5]
            a.socials-list__item.socials-list__item--big(href="") 
              img.socials-list__icon(src=require(`@/images/socials/${val}.svg`) alt="")
      .mobile-nav__button-group.button-group
        button.button-group__btn.btn.btn--secondary(type="button" data-modal="submit-tool") Submit a tool
.background-blur