header.header
  .header__inner
    .header__left
      .header__logo.logo 
        a.logo__link(href="") 
          img.logo__src(src=require('@/images/logo.svg'), alt="")
      .header__lang.custom-select-wrapper
        button.custom-select.custom-select--secondary.lang-select(type="button" aria-expanded="false" aria-label="Choose plan" aria-controls="lang-switcher")
          span.custom-select__placeholder En
            svg.custom-select__arrow(width="8" height="8")
              use(xlink:href="sprite.svg#arrow-down_sprite")
          nav.custom-select__content.custom-select__content--secondary(id="lang-switcher" aria-hidden="true")
            ul.lang-switcher 
              li.lang-switcher__item En 
              li.lang-switcher__item
                a.lang-switcher__link(href="/en" hreflang="en" lang="en") Ru
              li.lang-switcher__item
                a.lang-switcher__link(href="/en" hreflang="en" lang="en") De
      .mobile-nav-btn.hidden-desktop.js-open-mobile-menu
        svg(width='24' height='24')
          use(href='sprite.svg#mobile-nav_sprite')
    nav.header__nav.nav
      ul.nav__list 
        each val,index in menu
          li.nav__item(class=index == 0 ? 'nav__item--current' : '')
            a.nav__link(href=val.link)
              span.nav__link-text=val.name
              span.nav__hover-text(aria-hidden="true")=val.name
    .header__button-group 
      button.header__btn.btn.btn--secondary(type="button" data-modal="submit-tool") Submit a tool
      button.header__btn.btn.btn--primary(type="button" data-modal="subscribe") Subscribe to newsletter
    button.theme-switcher(aria-label="Switch theme") 
      svg(width='44' height='44')
        use(href='sprite.svg#dark-theme_sprite')

#mobile-nav.mobile-nav
  .mobile-nav__header.header
    .header__left.container
      .header__logo.logo 
        a.logo__link(href="") 
          img.logo__src(src=require('@/images/logo.svg'), alt="")
      .header__lang.custom-select-wrapper
        button.custom-select.custom-select--secondary.lang-select(type="button" aria-expanded="false" aria-label="Choose plan" aria-controls="lang-switcher")
          span.custom-select__placeholder En
            svg.custom-select__arrow(width="8" height="8")
              use(xlink:href="sprite.svg#arrow-down_sprite")
          nav.custom-select__content.custom-select__content--secondary(id="lang-switcher" aria-hidden="true")
            ul.lang-switcher 
              li.lang-switcher__item En 
              li.lang-switcher__item
                a.lang-switcher__link(href="/en" hreflang="en" lang="en") Ru
              li.lang-switcher__item
                a.lang-switcher__link(href="/en" hreflang="en" lang="en") De
      button.mobile-nav-btn.hidden-desktop.js-close-nav(type="button")
        svg(width='24' height='24')
          use(href='sprite.svg#mobile-nav-close_sprite')
  .mobile-nav__main.container 
    nav.mobile-nav__nav 
      ul.mobile-nav__nav-list
        each val,index in menu
          li.mobile-nav__nav-item(class=index == 0 ? 'mobile-nav__nav-item--current' : '')
            a.mobile-nav__nav-link(href=val.link)=val.name
    .mobile-nav__socials.socials-list
      each val in [1,2,3,4,5]
        a.socials-list__item.socials-list__item--big(href="") 
          img.socials-list__icon(src=require(`@/images/socials/${val}.svg`) alt="")
    .mobile-nav__button-group.button-group
      button.button-group__btn.btn.btn--secondary(type="button" data-modal="submit-tool") Submit a tool
      button.button-group__btn.btn.btn--primary(type="button" data-modal="subscribe") Subscribe to newsletter
.background-blur