section.section.container.cards-section

  .cards 
    .cards__heading 
      h3.cards__count Showing 120 of 923 Tools
      .cards__filter
        .custom-select-wrapper.cards__filter-btn
          button.custom-select.custom-select--primary.btn.btn--secondary(type="button" aria-expanded="false" aria-label="Choose plan" aria-controls="grid-filter-1")
            span.custom-select__placeholder
              span Choose plan
              svg.custom-select__arrow(width="8" height="8")
                use(xlink:href="sprite.svg#arrow-down_sprite") 
          .custom-select__content.custom-select__content--primary(id="grid-filter-1" aria-hidden="true") 
            .custom-select__heading.hidden-desktop 
              h3.custom-select__title Choose plan
              button.custom-select__close.js-close-select(type="button")
                svg(width="20" height="20")
                  use(xlink:href="sprite.svg#close_sprite") 
            ul.checkbox-list
              each val in [1,2,3,3,3,3] 
                li.checkbox-list__item
                  label.checkbox-list__label
                    input.checkbox-list__input(type="checkbox")
                    span.checkbox-list__fake
                    span.checkbox-list__text Free
        .custom-select-wrapper.cards__filter-btn
          button.custom-select.custom-select--primary.btn.btn--secondary(type="button" aria-expanded="false" aria-label="Choose plan" aria-controls="grid-filter-2")
            span.custom-select__placeholder
              span Sort by default
              svg.custom-select__arrow(width="8" height="8")
                use(xlink:href="sprite.svg#arrow-down_sprite") 
          .custom-select__content.custom-select__content--primary(id="grid-filter-2" aria-hidden="true") 
            .custom-select__heading.hidden-desktop 
              h3.custom-select__title  Sort
              button.custom-select__close.js-close-select(type="button")
                svg(width="20" height="20")
                  use(xlink:href="sprite.svg#close_sprite") 
            ul.checkbox-list
              each val,index in [1,2,3,3,3,3] 
                li.checkbox-list__item
                  label.checkbox-list__label
                    input.checkbox-list__input.checkbox-list__input--radio(type="radio" name="sort-radio" value=`${index} Sort by name (A-Z)`)
                    span.checkbox-list__fake-radio
                    span.checkbox-list__text=index + ' Sort by name (A-Z)'

    .no-result.container
      .no-result__lottie 
        lottie-player.result-lottie( autoplay  loop mode="normal" src=require('@/lottie/rocket2.json'))
      span.no-result__title Hey, Houston
      p.no-result__desc We didn’t find results according your search.Try again with new filters. 
    .cards__wrapper
      .cards__grid
        each val in [1,2]     
          article.m-card-item.m-card-item--features
            .m-card-item__header
              .m-card-item__featured.m-card-item__featured--mobile Featured
              .m-card-item__link.m-card-item__top
                a.m-card-item__picture-wrapper(href="") 
                  .m-card-item__views
                    span  1.2k
                    svg(width='16' height='16')
                      use(href='sprite.svg#views_sprite')
                  .m-card-item__featured Featured
                  .card-payment
                    span.card-payment__item Paid
                    span.card-payment__item(style="--background:#F5E769;color:var(--black-base)") Free Trial
                  picture.m-card-item__picture
                    source(media="(min-width:576px)", srcset=require('@/images/tools/1.jpg'))
                    img(src=require('@/images/small-card.jpg'), alt="")
                .m-card-item__info
                  .m-card-item__heading 
                    a(href="")
                      h3.m-card-item__title Fetch.ai 
                    .m-card-item__dropdown.m-card-dropdown.share
                      - var rand = Math.floor(Math.random() * 1000)
                      - var rand2 = Math.floor(Math.random() * 1000)
                        button.m-card-dropdown__button(aria-describedby="card-tooltip" id=`card-button-${rand}` data-tooltip-trigger=`card-tooltip-${rand}` data-tooltip-placement="bottom" aria-expanded="false" aria-controls="card-tooltip")
                          svg(width='32' height='32')
                            use(href='sprite.svg#interaction_sprite')
                        .m-card-dropdown__content(id=`card-tooltip-${rand}` aria-hidden="true" data-tooltip=`card-tooltip-${rand}`)
                          ul.m-card-dropdown__list
                            li.m-card-dropdown__list-item
                              button.m-card-dropdown__link(href="")  Favorite
                                svg(width='16' height='16')
                                use(href='sprite.svg#favorite_sprite')
                            li.m-card-dropdown__list-item
                              a.m-card-dropdown__link(href="")  Visit
                                svg(width='16' height='16')
                                  use(href='sprite.svg#external_sprite')
                            li.m-card-dropdown__list-item
                              a.m-card-dropdown__link(href="")  Share
                                svg(width='16' height='16')
                                  use(href='sprite.svg#share_sprite')
                            li.m-card-dropdown__list-item
                              a.m-card-dropdown__link(href="")  View
                                svg(width='16' height='16')
                                  use(href='sprite.svg#views_sprite')
                          .arrow(data-popper-arrow)
                  a(href="") 
                    p.m-card-item__desc Generate SEO-friendly content quickly with the AI SEO Outline tool. Get an op...
            .m-card-item__bottom
              .m-card-item__payment.m-card-payment 
                span.m-card-payment__item(style="--background:#EBEBEB")
                  img(src=require('@/images/payment-icon.svg'), alt="")
                span.m-card-payment__item(style="--background:#F5E769;color:var(--black-base)") Free Trial
              .m-card-item__tags.card-tags
                ul.card-tags__list
                  li.card-tags__list-item
                    a.card-tags__item(href="")  Design
                  li.card-tags__list-item.share
                    button.card-tags__item(aria-describedby="share-tooltip" id=`card-tags-button-${rand2}` data-tooltip-trigger=`card-tags-tooltip-${rand}` data-tooltip-placement="top" aria-expanded="false" aria-controls="card-tags-tooltip") +3
                    span.card-tags__tooltip(id=`card-tags-tooltip-${rand2}` aria-hidden="true" data-tooltip=`card-tags-tooltip-${rand}`) 
                      ul.card-tags__tooltip-list.card-tags__list 
                        li.card-tags__tooltip-item.card-tags__list-item 
                          a.card-tags__tooltip-list-link.card-tags__item(href="")  Code
                        li.card-tags__tooltip-item.card-tags__list-item 
                          a.card-tags__tooltip-list-link.card-tags__item(href="")  Design 
                        li.card-tags__tooltip-item.card-tags__list-item 
                          a.card-tags__tooltip-list-link.card-tags__item(href="")  Eco
                      .arrow(data-popper-arrow)
                .card-tags__buttons
                  button.m-card-item__favorite 
                    span Favorite
                    svg(width='16' height='16')
                      use(href='sprite.svg#favorite_sprite')
                  a.m-card-item__external-link(href="" target="_blank" rel="noopener noreferrer" aria-label="Visit")
                    span Visit
                    svg(width='16' height='16')
                      use(href='sprite.svg#external_sprite')
        each val in [1,1,1,1,1,1,1,1,1,]
          include ../components/card-item
    button.cards__load-more.btn.btn--secondary(type="button")  Load more
