section.section.container.cards-section

  .cards 
    .cards__heading 
      h3.cards__count Showing 120 of 923 Tools
      .cards__filter
        .custom-select-wrapper.cards__filter-btn
          button.custom-select.custom-select--primary.btn.btn--secondary(type="button" aria-expanded="false" aria-label="Choose plan" aria-controls="grid-filter-1")
            span.custom-select__placeholder
              span Choose plan
              svg.custom-select__arrow(width="8" height="8")
                use(xlink:href="sprite.svg#arrow-down_sprite") 
          .custom-select__content.custom-select__content--primary(id="grid-filter-1" aria-hidden="true") 
            .custom-select__heading.hidden-desktop 
              h3.custom-select__title Choose plan
              button.custom-select__close.js-close-select(type="button")
                svg(width="20" height="20")
                  use(xlink:href="sprite.svg#close_sprite") 
            ul.checkbox-list
              each val in [1,2,3,3,3,3] 
                li.checkbox-list__item
                  label.checkbox-list__label
                    input.checkbox-list__input(type="checkbox")
                    span.checkbox-list__fake
                    span.checkbox-list__text Free
        .custom-select-wrapper.cards__filter-btn
          button.custom-select.custom-select--primary.btn.btn--secondary(type="button" aria-expanded="false" aria-label="Choose plan" aria-controls="grid-filter-2")
            span.custom-select__placeholder
              span Sort by default
              svg.custom-select__arrow(width="8" height="8")
                use(xlink:href="sprite.svg#arrow-down_sprite") 
          .custom-select__content.custom-select__content--primary(id="grid-filter-2" aria-hidden="true") 
            .custom-select__heading.hidden-desktop 
              h3.custom-select__title  Sort
              button.custom-select__close.js-close-select(type="button")
                svg(width="20" height="20")
                  use(xlink:href="sprite.svg#close_sprite") 
            ul.checkbox-list
              each val,index in [1,2,3,3,3,3] 
                li.checkbox-list__item
                  label.checkbox-list__label
                    input.checkbox-list__input.checkbox-list__input--radio(type="radio" name="sort-radio" value=`${index} Sort by name (A-Z)`)
                    span.checkbox-list__fake-radio
                    span.checkbox-list__text=index + ' Sort by name (A-Z)'

    .no-result.container
      .no-result__lottie 
        lottie-player.result-lottie( autoplay  loop mode="normal" src=require('@/lottie/rocket2.json'))
      span.no-result__title Hey, Houston
      p.no-result__desc We didn’t find results according your search.Try again with new filters. 
    .cards__wrapper
      .cards__grid
        each val in [1,1]
          article.card-item.card-item--promoted(href="#")
            a.card-item__link(href="") 
              .card-item__image-gradient
                .card-item__image-wrapper
                  picture.card-item__image
                    img(src=require('@/images/tools/1.jpg'), alt="")
                  .card-item__views 
                    span 6250
                    svg(width='16' height='16')
                      use(href='sprite.svg#views_sprite')
                  .card-payment 
                    span.card-payment__item Paid
                    span.card-payment__item(style="--background:#F5E769") This tool offers a free trial!
              .card-item__info 
                h2.card-item__name Fetch.ai
                .card-item__desc Create high-quality videos with SpiritMe's digital avatars that speak in your voice and emotional expressions. Choose from subscriptions, ...
            .card-item__bottom 
              .card-tags
                ul.card-tags__list
                  li.card-tags__list-item
                    a.card-tags__item(href="")  Code
                  li.card-tags__list-item
                    a.card-tags__item(href="")  Speech
                  li.card-tags__list-item
                    a.card-tags__item(href="")  Seo
              a.card-item__external-link(href="" target="_blank" rel="noopener nofollow") 
                span Visit 
                svg(width='20' height='20')
                  use(href='sprite.svg#external_sprite')
    .cards__wrapper
      .cards__grid
        each val in [1,1,1,1,1,1,1,1,1,]
          article.card-item(href="#")
            a.card-item__link(href="") 
              .card-item__image-gradient
                .card-item__image-wrapper
                  picture.card-item__image
                    img(src=require('@/images/tools/1.jpg'), alt="")
                  .card-item__views 
                    span 1337
                    svg(width='16' height='16')
                      use(href='sprite.svg#views_sprite')
                  .card-payment 
                    span.card-payment__item Free
              .card-item__info 
                h2.card-item__name Fetch.ai
                .card-item__desc Create high-quality videos with SpiritMe's digital avatars that speak in your voice and emotional expressions. Choose from subscriptions, ...
            .card-item__bottom 
              .card-tags
                ul.card-tags__list
                  li.card-tags__list-item
                    a.card-tags__item(href="")  Code
                  li.card-tags__list-item
                    a.card-tags__item(href="")  Design
                  li.card-tags__list-item
                    span.card-tags__item +3
              a.card-item__external-link(href="" target="_blank" rel="noopener nofollow") 
                span Visit 
                svg(width='20' height='20')
                  use(href='sprite.svg#external_sprite')
    button.cards__load-more.btn.btn--secondary(type="button")  Load more
