- var rand = Math.floor(Math.random() * 1000)
- var rand2 = Math.floor(Math.random() * 1000)
article.card-item.card-item--editor(href="#")
  .card-item__link.card-item__link--row(href="" class=locals.cls ? locals.cls : '') 
    .card-item__image-gradient
      .card-item__image-wrapper
        a(href="") 
          picture.card-item__image
            img(src=require('@/images/tools/1.jpg'), alt="")
        .card-item__views 
          span 1337
          svg(width='16' height='16')
            use(href='sprite.svg#views_sprite')
        .card-payment 
          span.card-payment__item Free
    .card-item__info
      a(href="") 
        h2.card-item__name Fetch.ai
        .card-item__desc Create high-quality videos with SpiritMe's digital avatars that speak in your voice and emotional expressions. Choose from subscriptions, ...
      .card-item__bottom 
        .card-tags
          ul.card-tags__list
            li.card-tags__list-item
              a.card-tags__item(href="")  Design
            li.card-tags__list-item.share
              button.card-tags__item(aria-describedby="share-tooltip" id=`card-tags-button-${rand2}` data-tooltip-trigger=`card-tags-tooltip-${rand}` data-tooltip-placement="top" aria-expanded="false" aria-controls="card-tags-tooltip") +3
              span.card-tags__tooltip(id=`card-tags-tooltip-${rand2}` aria-hidden="true" data-tooltip=`card-tags-tooltip-${rand}`) 
                ul.card-tags__tooltip-list.card-tags__list 
                  li.card-tags__tooltip-item.card-tags__list-item 
                    a.card-tags__tooltip-list-link.card-tags__item(href="")  Code
                  li.card-tags__tooltip-item.card-tags__list-item 
                    a.card-tags__tooltip-list-link.card-tags__item(href="")  Design 
                  li.card-tags__tooltip-item.card-tags__list-item 
                    a.card-tags__tooltip-list-link.card-tags__item(href="")  Eco
                .arrow(data-popper-arrow)