extends ../layouts/main

block content
  section.section.section--s.container 
    - locals.breadcrumbs = ['Home' , 'Blog' , 'Midjourney: Deep Dive']
    include ../components/breadcrumbs
    .blog-single 
      header.blog-single__header
        h1.blog-single__title Midjourney: Deep Dive
        .blog-single__info 
          time.blog-single__date.blog-single__info-item(datetime="2023-03-01")
            svg(width='16' height='16')
              use(href='sprite.svg#date_sprite')
            span  March 1
          .blog-single__views.blog-single__info-item
            svg(width='16' height='16')
              use(href='sprite.svg#views_sprite')
            span 6250
          button.blog-single__share.blog-single__info-item.share.tooltip-wrapper(aria-describedby="share-tooltip" id="share-button" data-tooltip-trigger="share-tooltip")
            svg(width='16' height='16')
              use(href='sprite.svg#share_sprite')
            #share-tooltip.tooltip(role="tooltip" class="tooltip-socials" tabindex="-1" data-tooltip="share-tooltip")
              .tooltip-socials__inner 
                .tooltip-socials__item(tabindex="2") 
                  a.tooltip-socials__link(href="https://google.com") 
                    svg(width='16' height='16')
                      use(href='sprite.svg#twitter_sprite')
                .tooltip-socials__item(tabindex="2") 
                  a.tooltip-socials__link(href="https://google.com") 
                    svg(width='16' height='16')
                      use(href='sprite.svg#inst_sprite')
                .tooltip-socials__item(tabindex="2") 
                  a.tooltip-socials__link(href="https://google.com") 
                    svg(width='16' height='16')
                      use(href='sprite.svg#fb_sprite')
              #arrow(data-popper-arrow)
            .share__button Share
      figure.blog-single__preview 
        picture.blog-single__image 
          img(src=require('@/images/blog.jpg'), alt="")
      .blog-single__content-wrapper
        article.blog-single__content 
          section.post-section.blog-single__section
            .editor-content 
              h2 Introduction
              p  Welcome to "Midjourney: Deep Dive," where we take a closer look at one of the most exciting customer experience tools on the market. Midjourney is an innovative AI-powered platform that helps businesses optimize their customer journey, boost sales, and build lasting relationships with their customers.
              p With cutting-edge technology that includes AI-powered recommendations, real-time analytics, and sentiment analysis, Midjourney provides businesses with the insights they need to make data-driven decisions and stay ahead of the competition. In this blog post, we'll explore the key features of Midjourney, share success stories from satisfied customers, and discuss the platform's future developments. Whether you're a business owner, marketer, or customer experience professional, Midjourney has something to offer to help you improve your customer experience strategy. Let's dive in!
            aside.card-item.card-item--editor(href="#")
              a.card-item__link.card-item__link--row(href="" class=locals.cls ? locals.cls : '') 
                .card-item__image-gradient
                  .card-item__image-wrapper
                    picture.card-item__image
                      img(src=require('@/images/tools/1.jpg'), alt="")
                    .card-item__views 
                      span 1337
                      svg(width='16' height='16')
                        use(href='sprite.svg#views_sprite')
                    .card-payment 
                      span.card-payment__item Free
                .card-item__info 
                  h2.card-item__name Fetch.ai
                  .card-item__desc Create high-quality videos with SpiritMe's digital avatars that speak in your voice and emotional expressions. Choose from subscriptions, ...
                  .card-item__bottom 
                    .card-tags
                      ul.card-tags__list
                        li.card-tags__list-item
                          .card-tags__item  Code
                        li.card-tags__list-item
                          .card-tags__item  Design
                        li.card-tags__list-item
                          span.card-tags__item +3     
          section.post-section.blog-single__section
            .editor-content 
              h2 Diving into Midjourney  Features
              p Midjourney is an innovative AI-tool that empowers businesses to optimize their customer journey and drive sales. In this section, we'll take a closer look at five key features that set Midjourney apart from other customer experience tools.
              h3 Tool Flexibility
            .features-editor 
              .features-editor__item 
                h4.features-editor__title AI-Powered Recommendations
                p.features-editor__desc Midjourney uses machine learning algorithms to provide personalized product recommendations to customers based on their browsing and purchase history.
              .features-editor__item 
                h4.features-editor__title AI-Powered Recommendations
                p.features-editor__desc Midjourney uses machine learning algorithms to provide personalized product recommendations to customers based on their browsing and purchase history.
              .features-editor__item 
                h4.features-editor__title AI-Powered Recommendations
                p.features-editor__desc Midjourney uses machine learning algorithms to provide personalized product recommendations to customers based on their browsing and purchase history.
              .features-editor__item 
                h4.features-editor__title AI-Powered Recommendations
                p.features-editor__desc Midjourney uses machine learning algorithms to provide personalized product recommendations to customers based on their browsing and purchase history.
              .features-editor__item 
                h4.features-editor__title AI-Powered Recommendations
                p.features-editor__desc Midjourney uses machine learning algorithms to provide personalized product recommendations to customers based on their browsing and purchase history.
          section.post-section.blog-single__section
            .editor-content
              h2  Midjourney Work Showcases
              p Upword simplifies content creation by offering a centralized location for the entire workflow, from idea to publishing. Its all-in-one solution streamlines the process, reducing errors and delays. With a user-friendly interface and comprehensive features.
            .gallery-grid
              each val in [1,2,3,4,5,6]
                a.gallery-grid__item(href=require('@/images/blog.jpg') data-glightbox) 
                  picture.gallery-grid__image 
                    img(src=require('@/images/blog.jpg'), alt="")
          section.post-section.blog-single__section 
            .cta-subscribe 
              h4.cta-subscribe__title Subscribe to our newsletter
              p.cta-subscribe__desc We write once a week and only about business. We promise not to spam.
              form.subscribe-form.subscribe-form--cta(action="") 
                .subscribe-form__item 
                  label.subscribe-form__label
                    input.subscribe-form__input(type="text" placeholder="Enter your e-mail")
                button.subscribe-form__submit.btn.btn--primary(type="submit") Subscribe
                  svg.btn__arrow(width="14" height="10")
                    use(xlink:href="sprite.svg#arrow-link_sprite") 
              p.subscribe-form__acceptance By clicking on the 'Submit' button, you agree to our 
                a(href="") Terms and Service
                |  and 
                a(href="") Privacy Policy
          section.post-section.blog-single__section
            .editor-content
              h2 Midjourney vs Competitors
              p While there are a variety of customer experience tools on the market, Midjourney stands out as a powerful and innovative solution that delivers real value to businesses. Here are some of the key advantages that Midjourney has over its competitors:
        aside.blog-single__sidebar
          .post-author.blog-single__post-author
            picture.post-author__image 
              img(src=require('@/images/author.jpg'), alt="")
            .post-author__info
              h3.post-author__name(aria-label="post author") Anastasia Kabuki
              p.post-author__description  Love to work with AI-tools
          nav.blog-single__nav.post-nav
            h4.post-nav__title Summary
            ul.post-nav__list 
              li.post-nav__item 
                a.post-nav__link(href="" data-id="") Introduction
              li.post-nav__item 
                a.post-nav__link(href="" data-id="") Diving into Midjourney Features
              li.post-nav__item 
                a.post-nav__link(href="" data-id="") Midjourney Work Showcases
              li.post-nav__item 
                a.post-nav__link(href="" data-id="") Midjourney vs Competitors
              li.post-nav__item 
                a.post-nav__link(href="" data-id="") Implementation and Onboarding
              li.post-nav__item 
                a.post-nav__link(href="" data-id="") Midjourney Pricing